In [2]:
import pandas as pd
import numpy as np

In [18]:
edu2019 = pd.read_csv("education5Y2019.csv")

In [ ]:
edu2019.head()

     Zip  ...  Margin of Error!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!Graduate or professional degree
0  90001  ...                                                (X)
1  90002  ...                                                (X)
2  90003  ...                                                (X)
3  90004  ...                                                (X)
4  90005  ...                                                (X)

[5 rows x 769 columns]

In [ ]:
edu2019.head()

           GEO_ID  ...                                     S1501_C06_064M
0              id  ...  Margin of Error!!Percent Female!!MEDIAN EARNIN...
1  8600000US90001  ...                                                (X)
2  8600000US90002  ...                                                (X)
3  8600000US90003  ...                                                (X)
4  8600000US90004  ...                                                (X)

[5 rows x 770 columns]

In [ ]:
edu2019 = edu2019[edu2019.columns.drop(list(edu2019.filter(regex='Margin')))]

In [ ]:
edu2019.head()

     Zip  ...  Estimate!!Percent Female!!MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)!!Population 25 years and over with earnings!!Graduate or professional degree
0  90001  ...                                                (X)
1  90002  ...                                                (X)
2  90003  ...                                                (X)
3  90004  ...                                                (X)
4  90005  ...                                                (X)

[5 rows x 385 columns]

In [ ]:
edu2019.columns= edu2019.columns.str.replace('Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population','',regex=True)

In [ ]:
edu2019.columns= label.str.replace(,',':',regex=True)

In [ ]:
edu2019.columns= edu2019.columns.str.replace('and over!!','+',regex=True)

In [ ]:
edu2019.columns= edu2019.columns.str.replace('years','',regex=True)
edu2019.columns= edu2019.columns.str.replace('hs','HS',regex=True)
edu2019.columns= edu2019.columns.str.replace('High school','HS',regex=True)

In [ ]:
edu2019.columns= edu2019.columns.str.replace('EstimateTotalRACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT','',regex=True)
edu2019.columns= edu2019.columns.str.replace('EstimatePercent FemaleAGE BY EDUCATIONAL ATTAINMENT','',regex=True)
edu2019.columns= edu2019.columns.str.replace('EstimatePercent FemaleRACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT','',regex=True)

In [ ]:
edu2019.columns= edu2019.columns.str.replace('!!','',regex=True)
edu2019.columns= edu2019.columns.str.replace('years','',regex=True)

In [ ]:
edu2019.head()

     Zip  ...  EstimatePercent FemaleMEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)Population 25  + with earningsGraduate or professional degree
0  90001  ...                                                (X)
1  90002  ...                                                (X)
2  90003  ...                                                (X)
3  90004  ...                                                (X)
4  90005  ...                                                (X)

[5 rows x 385 columns]

In [ ]:
  
# saving the dataframe
edu2018.to_csv('2018education.csv')

In [ ]:
  
# saving the dataframe
edu2019.to_csv('2019education.csv')

In [ ]:
df = pd.read_csv('2019education.csv')

In [ ]:
df.head()

   Unnamed: 0  ...  EstimatePercent FemaleMEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)Population 25  + with earningsGraduate or professional degree
0           0  ...                                                (X)
1           1  ...                                                (X)
2           2  ...                                                (X)
3           3  ...                                                (X)
4           4  ...                                                (X)

[5 rows x 386 columns]